.page-inicio {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.page-inicio table {
  width: 100%;
}

.page-inicio table th,
.page-inicio table td {
  padding: 0 16px;
}

.page-inicio table th {
  border: 1px solid black;
  text-align: center;
}

.page-inicio table th:last-of-type,
.page-inicio table td:last-of-type {
  padding-right: 0;
}

.page-inicio table button {
  margin-left: 16px;
}